@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins:wght@300&family=Roboto+Condensed&display=swap');

.container{
    display: flex;
    flex-direction: row;
    padding: 1rem;
    justify-content: center;
    line-height: 1.7;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-family: 'Roboto Condensed', sans-serif;

}

pre{
   font-size: 1rem;
}

