.container {
  display: flex;
  padding: 50px;
}

.userContainer {
  flex-direction: column;
  width: 50%;
  height: 100%;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 25px;

}

.mockHeader {
  display: flex;
  background-color: #EDE7F6;
  justify-content: space-around;
  border-radius: 25px 25px 0 0;
}

.mockHeader>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.mockHeader>img {
  width: 100px;
  height: 150px;
}


.priceAction {
  display: flex;
  justify-content: space-evenly;
}

.priceAction>div {
  display: flex;
  justify-content: center;
  padding: 15px;
  width: 100%;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.courseDetail {
  padding: 2px;
  margin: 10px
}

.courseDetail ul {
  list-style-type: none;
  gap: 5px;
  font-size: 1.03rem;

}

.courseDetail ul li {
  margin: 10px;
}

.availableOffers {
  padding: 5px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.moreOfferings {
  padding: 5px;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.availableOffers .offer {
  display: flex;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.moreOfferings .WhatYouGet {
  display: flex;
  padding: 20px;
  width: 80%;
  font-weight: bold;
  height: 100px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.availableOffers .offer .offerImage img {
  width: 120px;
  height: 120px;
}

.availableOffers .offer .offerText {
  padding: 5px;
}

.availableOffers .offer .offerText>span {
  border-style: dotted;
  color: red;
  border-color: red;
  padding: 5px;
  border-radius: 10px;
  font-size: small;
}

.whatElseYouGet {
  margin: 10px;
  padding: 10px;
  margin-bottom: 100px;
  background-color: #EEF0E5;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.slotContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 40%;
  right: 5%;
  z-index: 100;
  padding: 20px;
  position: fixed;
  /* Fixed position */
  overflow: auto;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.slotContainer .confirm {
  text-align: center;
  padding: 15px;
  background-color: black;
  color: #fff
}

.confirm:hover {
  cursor: pointer;
}


@media only screen and (max-width: 1060px) and (min-width: 100px) {
  .container {
    display: flex;
    flex-direction: column;
    gap: 1px;
    padding: 0px;
  }

  .userContainer {
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #fff;
    box-shadow: 0px;
    border-radius: 0px;
  }

  .mockHeader {
    border-radius: 0px
  }

  .slotContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    right: 0%;
    padding: 10px 10px 10px 0;
    position: relative;
    /* Fixed position */
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0px;
    border-radius: 0px;
    margin-bottom: 25px;
  }

  .slotContainer .confirm {
    width: 100%;
    position: fixed;
    
    bottom: 0;
    overflow: auto;
    text-align: center;
    padding: 15px;
    background-color: black;
    color: #fff
  }
}