.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0px 40px;
  font-size: 20px;
  font-weight: 600;
}

.navbarElementDesktop {
  display: flex;
  gap: 50px;
  cursor: pointer;
}

.mobileNavbar {
  display: none;
}

.menuBtn{
  color:#333
}
.menuBtn:hover {
  color: #F2042F;
  border-bottom: 1px solid #F2042F;
}

.menuBtn> a:hover {
  color: #F2042F;
 
}

@media only screen and (max-width: 1000px) and (min-width: 100px) {
  .navbarContainer {
    display: none;
  }
  .mobileNavbar {
    display: flex;
    width: 100%;
  }
  .navSize {
    font-size: 20px;
    font-weight: 600;
    padding: 0px 20px;
  }
  .eachContain {
    height: 50px;
    border: 1px solid rgb(214, 214, 214);
    display: flex;
    align-items: center;
    padding: 0px 20px;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
}
